 .movietitle {
     font-size: 30px;
 }

 .small {
     font-size: 20px;
     text-decoration: none;
 }

 .card {
    height: 800px;
 }

 .image {
     height: 500px;
 }

 .title {
     margin-top: 50px;
     margin-bottom: 50px;
     font-size: 60px;
 }

 .moviec {
     max-width: 80vw;
     align-items: center;
    
 }
 
.readmorebtn {

    margin-left: 15px;
}

.link {
    color: white;

}